# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/
ENV/
*.env
*.venv

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# If using collectstatic
/static/
!/static/.gitkeep

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# pytest / coverage
.coverage
htmlcov/
.pytest_cache/
